<body>
    <h2>CONTACT ME</h2>
    <ul class="menu-bar">
        <li class="about-me"><a href="index"> About Me </a></li>
        <li class="about-me"><a href="skill">Skill</a></li>
        <li class="about-me"><a href="contact">Contact Me</a></li>
        <li class="about-me"><a href="portfolio">Portfolio</a></li>
    </ul class="contact">
        <li>Phone : +66854875566</li><br>
        <li>E-mail : mramrasansut@outlook.co.th</li><br>
        <li>Line ID : 55660854</li><br>
        <li>Website : www.InarmSan.com</li><br>
        <li>Address : Onnut 77 Suanhluang BKK 10250 Thailand</li>
    </ul>
</body> 