<body>
    <h3>Portfolio</h3>
    <ul class="menu-bar">
        <li class="about-me"><a href="index"> About Me </a></li>
        <li class="about-me"><a href="skill">Skill</a></li>
        <li class="about-me"><a href="contact">Contact Me</a></li>
        <li class="about-me"><a href="portfolio">Portfolio</a></li>
    </ul>
    <div class="info-head">
        
            <div class="info-left">
                
                    <img class="topPic" src="img2.jpg">
                    <h5 class="myapp">My Application</h5>
                
            </div>
            <div class="info-mid">               
                    <input class="search-box" type="text" placeholder="Search Something" name="search">
                    <button type="submit">Search</button>
            </div>
            <div class="info-right">
                <p class="new-product">New Porduct</p>
            </div>
            
        
    </div>
    
    <table class="project">
        <tr>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.1</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.2</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.3</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
        </tr>
        <tr>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.4</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.5</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
            <td><img class="pic" src="https://thumbs.dreamstime.com/b/tropical-green-butterfly-isolated-white-background-137659710.jpg"></td>
            <td><ul>
                <li>-Project No.6</li><br>
                <li>-Price</li><br>
                <li>-Description</li><br>
            </ul>
            </td>
        </tr>
    </table>
    
</body>