<body>
    <h4>SKILLS</h4>
    <ul class="menu-bar">
        <li class="about-me"><a href="index"> About Me </a></li>
        <li class="about-me"><a href="skill">Skill</a></li>
        <li class="about-me"><a href="contact">Contact Me</a></li>
        <li class="about-me"><a href="portfolio">Portfolio</a></li>
    </ul>
    <ul class="skill">
        <li class="li-skill">Javascript</li> <br>
        <li class="li-skill">HTML</li><br>
        <li class="li-skill">MySQL</li><br>
        <li class="li-skill">Node.js </li><br>
        <li class="li-skill">Algorithm: Data Structure</li><br>
        <li class="li-skill">Cloud Deployment</li><br>
    </ul>
</body>